<h1>New message</h1>
<form method="POST" action="/new">
  <div style="display: grid; grid-template-columns: 1fr 2fr; gap:10px; width: 300px;">
    <label for="user">User</label>
    <input id="user" type="text" name="messageUser" />
    <label for="text">Text</label>
    <textarea id="text" name="messageText" rows="5" cols="33"></textarea>
    <button type="submit" style="grid-column: 1 / 3;">Send</button>
  </div>
</form>
